<%-include("partials/header.ejs")%> 


<h1>Home</h1>
<p><%= homeStartingContents %></p>

 <%arr.forEach(function(i){ %>
    
 
   <h1> <%=i.mytitles%></h1>
   <% var str= i.myposts.substring(0,100)%>

   <p> <%=str +" ...."%> <a href="/post/<%=i.mytitles%>">ReadMore</a></p>
   


 <%})%>
<%-include("partials/footer.ejs")%> 